body {
font-family: 'Playfair Display', 'Noto Sans JP', sans-serif;
background: #f7f2ec;
margin: 0;
}

.mutya-logo-fade {
    width: 300px;
    height: 250px;

}
.checkout-wrapper {
max-width: 820px;
margin: 60px auto;
background: #fff;
padding: 60px;
border-radius: 24px;
}

h1 {
font-family: 'Playfair Display', serif;
text-align: center;
margin-bottom: 50px;
}

a {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 5px;
    color: #88613d;
    text-decoration: none;
}

a:hover {
    color: #c9b37e;
  }
.section-title {
font-weight: bold;
margin: 40px 0 16px;
border-bottom: 1px solid #ddd;
padding-bottom: 6px;
}

.form-group {
display: grid;
gap: 12px;
margin-bottom: 20px;
}

input {
padding: 14px;
border-radius: 10px;
border: 1px solid #ccc;
font-size: 14px;
}

.order-summary {
background: #f7f2ec;
padding: 24px;
border-radius: 16px;
margin-top: 40px;
}

.order-item {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}

.total {
font-weight: bold;
font-size: 18px;
border-top: 1px solid #ccc;
padding-top: 14px;
margin-top: 20px;
}

.pay-btn {
width: 100%;
margin-top: 40px;
padding: 16px;
background: #c7b299;
color: #fff;
border: none;
border-radius: 30px;
font-size: 16px;
cursor: pointer;
}

.mutya-logo-fade {
opacity: 0;
transform: translateY(20px) scale(0.95);
animation: logoFade 1.8s ease forwards;
}

/* Language Switch */
.lang-switch button {
    margin-left: 8px;
    padding: 12px 32px;
    border: 1px solid #ccc;
    background: #c9b37e;
    border-radius: 30px;
    cursor: pointer;
    border-radius: 50px;
    align-items: center;
}

.lang-switch {
    text-align: center;
}
.lang-switch button:hover {
    background-color: #c9b37e;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .15);
}


@keyframes logoFade {
0% {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
}
60% {
    opacity: 1;
    transform: translateY(0) scale(1.02);
}
100% {
    opacity: 1;
    transform: translateY(0) scale(1);
}
}

/* Loading button */
.pay-btn.loading {
pointer-events: none;
opacity: 0.7;
position: relative;
}

/* Spinner */
.pay-btn.loading::after {
content: '';
width: 18px;
height: 18px;
border: 3px solid rgba(255,255,255,.4);
border-top-color: #fff;
border-radius: 50%;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
animation: spin .8s linear infinite;
}

@keyframes spin {
to { transform: rotate(360deg) translate(-50%, -50%); }
}

